@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Rubik+Glitch&display=swap');

.new-btn {
    display: flex;
    justify-content: right;
}

.new-btn i {
    font-size: 2rem;
    color: blue;
}

.new-btn input {
    position: relative;
    background: #e0e0e0;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-inline: 1rem;
    padding-block: .6rem;
    width: 90%;
    margin-bottom: .5rem;
    border: none;
}

.new-btn input[type='text'] {
    font-family: 'Playfair Display';
}

.new-btn input::placeholder {
    font-weight: bolder;
    color: rgb(12, 12, 12);
    opacity: .7;
    font-size: 1rem;
    font-family: 'Playfair Display';
}

.remove {
    font-size: 1.25rem;
    color: rgba(233, 13, 49, 0.925);
    position: absolute;
    background: rgba(223, 65, 65, 0.459);
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1),
        0px 4px 18px 0px rgba(0, 0, 0, 0.1);
    right:2.1em;
    top: .7rem;
    cursor: pointer;
    border-radius: 10px;
    padding-inline: .2rem;
}

.journal {
    padding-bottom: 1rem;
    height: 60vh;
    overflow-y: scroll;
    cursor: pointer;
}

.journal p {
    font-weight: bolder;
    font-family: 'Playfair Display';
    /* padding-top: .5rem; */
    color: blue;
    margin-inline: .5rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.title {
    position: relative;
    display: flex;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1),
        0px 4px 18px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    margin-bottom: 1rem;
    height: 65px;
}

.smallnote {
    position: absolute;
    bottom: 0;
    margin-left: .2rem;
    font-weight: bold;
    font-size: 12px;
}

.save {
    position: absolute;
    right: .2rem;
    top: .6rem;
    color: green;
    font-size: 1.35rem;
    background: rgba(65, 223, 73, 0.459);
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1),
        0px 4px 18px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-inline: .2rem;
}

.journal textarea {
    display: none;
    border-left: 2px dashed black;
    border-top: 2px dashed black;
    border-right: none;
    border-bottom: none;
    width: 95%;
    margin-inline: .5rem;
    font-family: 'Playfair Display';
    font-size: .9rem;
    min-height: 200px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1),
        0px 4px 18px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    margin-top: -.7rem;
}

.journal textarea::placeholder {
    font-family: 'Playfair Display';
    font-size: .9rem;
}

.empty-list {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 5rem;
    margin-bottom: 1rem;
    width: 100%;
}

.empty-list i {
    font-size: 5rem;
    color: rgb(22, 22, 22);
    animation: 2s App-logo-spin infinite;
    color: blue;
}

.empty-list p {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: blue;
    font-family: 'Playfair Display';
}

/* month filter CSS */
.month-list {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    scrollbar-color: rgb(0, 0, 255);
    scroll-behavior: smooth;
    scrollbar-width: 0px;
    height: 40px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 1px 4px 18px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    border-radius: 10px;
    margin-bottom: .5rem;
}

.month-list span {
    font-weight: bolder;
    color: blue;
    background: rgba(255, 255, 255, 0.562);
    box-shadow: 0px 0px 10px 0px rgba(34, 100, 241, 0.603);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
    /* border: 1px solid blue; */
    padding-inline:.5rem;
    margin-inline: .5rem;
    user-select: none;
    cursor: pointer;
}

.active{
    background-color:blue !important;
    color: black !important;
}